<style>
  .ca {
    display: inline-block;
    height: 12px;
    width: 12px;
    background-image: url(closed.png);
    background-size: 12px 12px;
  }
</style>
<style>
  .oa {
    display: inline-block;
    height: 12px;
    width: 8px;
    background-image: url(open.png);
    background-size: 8px 12px;
  }
</style>
